.form {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid#91a7ff;
}

.newgame {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #748ffc;
    border-radius:4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.newgame:hover {
    background: #bac8ff;
}